@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .swiper-custom-pagination .swiper-pagination-bullet {
    background-color: #6d14ff;
    opacity: 0.5;
  }

  .swiper-custom-pagination .swiper-pagination-bullet-active {
    background-color: #6d14ff;
    opacity: 1;
  }
}
