@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+3D&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.fade-in {
  opacity: 0;
  transform: translateX(10px);
  animation: fadeIn 0.8s ease-in-out forwards;
}

@layer components {
  .swiper-custom-pagination .swiper-pagination-bullet {
    background-color: #6d14ff;
    opacity: 0.5;
  }

  .swiper-custom-pagination .swiper-pagination-bullet-active {
    background-color: #6d14ff;
    opacity: 1;
  }
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
